<div class="jumbotron" style="background-color: black">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <h1 class="titulos" style="font: oblique bold 350% cursive; color: yellow">Big bang</h1>
        <h2 class="titulos" style="font: oblique bold 200% cursive; color: red">V.I.P</h2>
        <a href="http://www.ygfamily.com/artist/main.asp?LANGDIV=K&ATYPE=2&ARTIDX=3" class="btn btn-default "><span class="glyphicon glyphicon-fire" style=" color:red"></span>
          Web Oficial - Corea </a>
      </div>
      <div class="col-md-6">
          <iframe src="https://giphy.com/embed/yfBk1FylPnw6Q" width="480" height="203" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">

  <div class="col-md-4">
    <div class="page-header">
  <h2 style="display:inline"> Debut </h2>
  <span class="label label-default">New</span>
</div>

    <p class="titulos" style="text-align : justify">El 19 de agosto de 2006, Big Bang hizo su debut oficial en el Olympic Gymnastics Arena ubicado en el Parque
      Olímpico de Seúl durante el concierto de celebración del décimo aniversario de YG Family,
      mientras que el 23 de septiembre de 2006, el grupo hizo su debut en televisión cuando fue emitido dicho concierto.
      Hoy en dia es considerado uno de los mejores grupos del K-pop de la historia.</p>
    <h4 style="font-weight: bold;">Nombre del Fanclub Oficial: VIP</h4>
    <p style="text-align : justify">Significa Very Important People (Personas Muy Importantes). Los lightsticks llevan una corona de color amarillo.</p>
    <br>
    <a href="http://cafe.daum.net/YGBIGBANG" target="_blank">Fan Cafe Oficial</a>
    <br>
    <img src="http://www.gasookpopgalore.net/image/cache/data/product/lightstick/BIGBANG%20LS%20V4%202b4-600x600.jpg"  class="img-responsive">
  </div>

  <div class="col-md-5">
    <div class="page-header">
  <h2>Integrantes </h2>
</div>
    <h2>Big Bang</h2>
   <a href="https://www.soompi.com/es/2016/12/30/defconn-elige-bigbang-grupo-idolo-mejor-saludo/">
      <img src="https://0.soompi.io/wp-content/uploads/sites/8/2016/12/30181249/BIGBANG.png"  class="img-responsive">
    </a>

    <h5 style="font-weight: bold;">De izquierda a derecha</h5>
    <p>Seungri, G-Dragon, Taeyang, Daesung y T.O.P</p>
    <hr>
    <br>
    <ul>
      <li>Taeyang (Vocalista y Bailarín)</li>
      <li>G-Dragon (Líder, Rapero, Vocalista y Bailarín) </li>
      <li>Daesung (Vocalista y Bailarín)</li>
      <li>Seungri (Maknae, Vocalista y Bailarín)</li>
      <li>T.O.P (Rapero y Bailarín)</li>
    </ul>
  </div>

    <div class="col-md-3">
      <div class="page-header">
    <h2> Redes Sociales </h2>
  </div>

    <h6 style="color: blue">Facebook</h6>

    <ul>
      <li> <a href="https://www.facebook.com/BIGBANG" style="color: darkred"> Big Bang Fecebook Oficial </a></li>
      <li> <a href="https://www.facebook.com/gdragon" style="color: darkred"> G-Dragon Fecebook Oficial </a></li>
      <li><a href="https://www.facebook.com/TAEYANG/" style="color: darkred"> Taeyang Fecebook Oficial </a></li>
      <li> <a href="https://www.facebook.com/officialseungri" style="color: darkred"> Seung Ri Fecebook Oficial </a></li>
    </ul>

      <hr>
      <br>

      <h6 style="color: blue">Youtube</h6>

      <ul>
        <li> <a href="https://www.youtube.com/user/BIGBANG" style="color: darkred"> Big Bang Canal Oficial </a></li>
        <li> <a href="https://www.youtube.com/user/OfficialGDRAGON" style="color: darkred"> G-Dragon Canal Oficial </a></li>
        <li><a href="https://www.youtube.com/user/YGTAEYANG" style="color: darkred"> Taeyang Canal Oficial </a></li>
        <li> <a href="https://www.youtube.com/user/OfficialSEUNGRI" style="color: darkred"> Seung Ri Canal Oficial </a></li>
      </ul>


      <hr>
      <br>

      <h6 style="color: blue">Instagram</h6>

      <ul>
        <li> <a href="https://www.instagram.com/seungriseyo/" style="color: darkred"> Seung Ri Instagram Oficial </a></li>
        <li> <a href="https://www.instagram.com/xxxibgdrgn/" style="color: darkred"> G-Dragon Instagram Oficial </a></li>
        <li><a href="https://www.instagram.com/__youngbae__/" style="color: darkred"> Taeyang Instagram Oficial </a></li>
        <li> <a href="https://www.instagram.com/choi_seung_hyun_tttop/" style="color: darkred"> TOP Instagram Oficial </a></li>
      </ul>

      <hr>
      <br>

      <h6 style="color: blue">Twitter</h6>

      <ul>
        <li> <a href="https://twitter.com/YG_GlobalVIP" style="color: darkred"> Big Bang Twitter Oficial </a></li>
        <li> <a href="https://twitter.com/IBGDRGN" style="color: darkred"> G-Dragon Twitter Oficial </a></li>
        <li><a href="https://twitter.com/Realtaeyang" style="color: darkred"> Taeyang Twitter Oficial </a></li>
        <li> <a href="https://twitter.com/ForvictoRi" style="color: darkred"> Seung Ri Twitter Oficial </a></li>
      </ul>

  </div>

  </div>

</div>
</div>
